<% if user_signed_in? %>
<li>Signed in as <a href="#" class="navbar-link"><%= current_user.email %></a></li>
<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
<% else %>
<li><%= link_to('Sign in', new_user_session_path) %></li>
<li class="signup"><%= link_to('Sign up', new_user_registration_path)  %></li>
<% end %>
