<div class="container">
<div class="page-header">
<div class="submit_movie"><a href="#">Submit a movie</a></div>
<h1>Latest movies</h1>
</div>

<p>Find me in app/views/movies/index.html.erb</p>
</div>
