// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.moviesuggestion { 
    background-color: white;
    border-radius: 5px;
    border: 1px solid blue;

    dd { color: blue; }

}

.tt-dropdown-menu {
  max-height: 250px;
  overflow-y: auto;
}
